<%-layout('layout/boilerplate') %>

    <div class="profile-body" id="blur">
        <div class="container mt-4">

            <%if(user.image.length)  {%> 
                <img src="<%=user.image[0].url%>" class="profile-photo mx-auto d-block" alt="...">
                <%} else {%> 
                   <img src="https://www.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" class="profile-photo mx-auto d-block" alt="">
                   <% } %> 
        </div>


        <div class="text-center ">
            <h2 style="color: teal;">
                <%=user.username %>
            </h2>
            <%if(user.description) {%> 
            <i>
                <%= user.description  %> 
            </i>
            <% }%> 

            <div class="mt-2 ftable">
                
                    <li class="fol">
                        <span style="color: teal; font-weight: bold;"><%=user.postc %></span> Posts
                    </li>
                    <li class="fol">
                        <span style="color: teal; font-weight: bold;"><%= user.followers.length %></span> Followers
                    </li>
                    <li class="fol">
                        <span style="color: teal; font-weight: bold;"><%= user.following.length %></span> Following
                    </li>

            </div>

        </div>


        <div class="container text-center mt-3">
            <%if(!user._id.equals(current._id)) { %>

                <% if(!current.following.includes(user._id)){ %>
                    <form action="/posts/<%=user._id%>/follow/?_method=PUT" method="post" id="followButton">
                        <button class="btn btn-primary" >Follow</button>
                    </form>
               
                    <% } else{%>
                        <div class="access-button">
      
                           
                            <button class="btn btn-primary me-2" onclick="chatbox()" onsubmit="submitForm()" >Message</button>
                        
                            <form action="/posts/<%=user._id%>/unfollow/?_method=PUT" method="post" id="followButton">
                                <button class="btn btn-primary" >Unfollow</button>
                            </form>
                        </div>

                        <% } %>
                            <% } %>
        </div>



        <div class="text-center m-5" style=" border-bottom: 2px solid black;">
            <h4>Posts</h4>
        </div>

        <% console.log(posts.length) %> 
  <% if(posts.length) {%> 
        <div class="container mb-4">
            <% for(let post of posts) {%>

                <% if(post.author._id.equals(user._id)) {%>

                    <div class="post-pr">

                        <div class="card m-2 d-inline-block" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%=post.title %>
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">By: <%=user.username%>
                                </h6>
                                <a href="/posts/<%=post._id %>" class="card-link">View Post</a>

                            </div>
                        </div>
                    </div>

                    <% } %>
                        <%}%>
        </div>

    <%} else {%>
        <div class="d-flex mb-4" style="justify-content:center; color: teal;">
        <h2>No Post Yet!</h2>
    </div>
        <% } %>  
    
    </div>
    
    <div class="chat-box" id="chat-box">
        <div class="chat-heading">
            <%if(user.image.length)  {%> 
                <img src="<%=user.image[0].url%>" alt="...">
                <%} else {%> 
                   <img src="https://www.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png"  alt="">
                   <% } %> 
        <h3><%=user.username%> </h3>
        <div class="close">
         <img onclick="chatbox()" src="https://cdn-icons-png.flaticon.com/512/3018/3018465.png" ></img>
    </div>
    </div>

        <div class="msgbox" id="msgbox">
           
        </div>
        
        <input type="text" id="inp">
        <button id="send-msg">Send</button>
        </div>

 <script type="text/javascript">
    function chatbox(){
        
        var box = document.getElementById('chat-box');
        var body = document.getElementById('blur');
        body.classList.toggle('active');
        box.classList.toggle('active');
    }
   

const obj = new chatEngine('msgbox', '<%=currentUser.username%>')
// console.log(obj);

 


 </script>
 

    
